<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/semantic.css' />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src='/javascripts/main.js'></script>
  </head>
  <body>
    <div class="ui page grid">
      <div class="column">
        <h1 class="ui huge header">MAKE SMALL TALK</h1>
        <div id="speech-bubble" class="ui message">
          <div class="ui icon message">
            <div class="ui inactive inverted dimmer">
              <div class="ui text loader">Loading</div>
            </div>
            <i class="hand right icon"></i>
            <div class="content">
              Select what kind of conversation you want to have below!
            </div>
          </div>
        </div>
        <div id="triangle" class="triangle-down gone"></div>
        <div id="choices" class="ui three column center aligned grid">
          <div class="column">
            <div class="ui segment">
              <div id="inane" class="ui button hover">
                Inane
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui segment">
              <div id="watercooler" class="ui button hover">
                Water-cooler
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui segment">
              <div id="pseudo" class="ui button hover">
                Pseudo-intellectual
              </div>
            </div>
          </div>
        </div>
        <div id="attribution" class="ui segment center aligned">
          <p>Made by <a href="https://github.com/wetmore">matt wetmore</a> for hackMIT</p>
          <p>Thank you to <a href="http://www.alchemyapi.com/">Alchemy API</a> for text analysis, and <a href="http://www.wunderground.com/">Weather Underground</a> for the weather. Thank you to <a href="//www.nytimes.com">NY Times</a> for the news, and TMZ for the "news".</p>
        </div>
      </div>
    </div>
  </body>
</html>
